@model LockWebMVC.DomainUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DomainUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanShare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanShare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Department1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Department1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
