@model IEnumerable<LockWebMVC.User_key>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="warning">
        <th>
            序号
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DomainUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ukey.CN)
        </th>
        <th></th>
    </tr>

    @{ int i = 1; }
    @foreach (var item in Model)
    {
        var color = "";
        switch (i%2)
        {
            case 1:
                color = "info";
                break;
            case 0:
                color = "success";
                break;
        }
<tr class=@color>
    <td>
        @(i++)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DomainUser.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ukey.CN)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>
